@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

.body {
    background: url("../assets/img.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

#board {
    background: linear-gradient(rgb(170, 228, 170), rgb(218, 218, 149));
    height: 90vmin;
    width: 120vmin;
    border: solid rgb(204, 235, 204);
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(24, 1fr);
    margin-left: 50px;
}

.head {
    background: linear-gradient(red, yellow);
    transform: scale(1.2);
    border: solid black 0.05vmin;
    border-radius: 10px;
}

.snake {
    background: linear-gradient(purple, white);
    border: solid black 0.05vmin;
    border-radius: 10px;
}

.food {
    background: linear-gradient(rgb(146, 146, 81), green);
    border: solid black 0.05vmin;
    border-radius: 10px;
}

#scored {
    position: absolute;
    top: 9px;
    right: 100px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
}